VITE_TONCONNECT_MANIFEST_URL=https://img.yani.tv/test/test.json
VITE_TONCENTER_API_KEY=your_toncenter_api_key
VITE_TONCENTER_MAINNET_URL=https://toncenter.com/api/v2/jsonRPC
VITE_TONCENTER_TESTNET_URL=https://testnet.toncenter.com/api/v2/jsonRPC
VITE_TONAPI_MAINNET_URL=https://tonapi.io/v2
VITE_TONAPI_TESTNET_URL=https://testnet.tonapi.io/v2
VITE_DEFAULT_NETWORK=testnet
VITE_API_URL=http://localhost:3001
